
<!-- Visibility is handled by jquery -->
<div class="imgwrap" ng-click="ctrl.openFullscreen();">
  <img src="" />
</div>


<!-- JSON? TODO?? why no refresh? -->
<div class="gf-form-group" ng-show="ctrl.json">
  <json-tree root-name="sub" object="ctrl.jsonholder" start-expanded="true"></json-tree>
</div>


<!-- Show if we have HTML content -->
<p
  class="markdown-html panel-text-content"
  ng-bind-html="ctrl.content"
  ng-show="ctrl.content"></p>

<div class="ajaxmodal">
  <div class="center-popup">
    <div class="center-wrap">
      <img src="public/plugins/ryantxu-ajax-panel/img/loading.gif" />
    </div>
  </div>
  <div class="modal-backdrop"></div>
</div>

