.small-link a {
  text-decoration: none;
  color: #33b5e5;
}

.small-link a:hover {
  text-decoration: underline;
}

.small-link .label-tag {
  background-color: rgb(117, 117, 117);
  border-color: rgb(155, 155, 155);
  margin-right: 5px;
  cursor: context-menu;
}

.imgwrap img {
  width: 100%;
  height: 100%;
}
.imgwrap img:hover {
  border: 3px solid #33b5e5;
  cursor: pointer;
}

.center-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1050;
  cursor: pointer;
}

.ngtemplate {
  height: 100%;
}
